body {
    margin: 0;
    padding: 0;
    background: #F2C300;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
}

/* Logo */
.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto -10px auto;
    object-fit: cover;
}

h2 {
    font-size: 36px;
    margin: 0 0 0px 0; /* sem margem inferior */
    font-weight: 700;
    color: white;
}

p.sub {
    font-size: 20px;
    color: white;
    margin-top: 0;     /* remove o espaço superior */
    margin-bottom: 10px; /* você pode diminuir mais se quiser */
}


/* Botões estilo Linktree com sombra */
.btn {
    width: 85%;
    max-width: 420px;
    background: white;
    color: black;
    border: 4px solid black;
    border-radius: 35px;
    padding: 16px;
    margin: 15px auto;
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-weight: 600;
    transition: 0.2s;

    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.35),
        0 6px 12px rgba(0, 0, 0, 0.35);
}

.btn:hover {
    transform: scale(1.03);
}

/* Ícones sociais */
.icons {
    margin-top: 40px;
}

.icons img {
    width: 40px;
    margin: 0 15px;
    filter: invert(1);
}

footer {
    margin-top: 50px;
    font-size: 14px;
    opacity: 0.8;
    color: #fff;
}
